/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */
.container{
    width: 80%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* HEADER */
.pink-box{
    background-color: #e579e6;
    height: 80px;
}
.yellow-box{
    background-color: #e1d67a;
    height: 400px;
    margin: 2% 0;
}


/* MAIN */
main{
    background-color: #0186fe;
    margin-bottom: 1%;
}
.title{
    background-color: #abcfe7;
    height: 70px;
}
.column{
    height: 400px;
    float: left;
    background-color: #abcfe7;
}
.lateral{
    width: 23%;
    margin:2% 0 ;
}
.middle{
    margin: 2% 2%;
    width: 50%;
}


/* FOOTER */
.purple{
    background-color: #8801fe;
    height: 50px;
}